@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~normalize.css/normalize.css';

// Themes
@import "themes/_theme";
@import "themes/_dark-theme";
@import "themes/_light-theme";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}
